<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Highbrow</title>
    <link rel="icon" type="image/x-icon" href="static/images/logo.png">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="static/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div id="hdr">
        <div class="hdr-inner">
            <a href="/"><img src="static/images/logo.png" alt="logo"></a>
            <h1>About Us</h1>
        </div>
    </div>

    <div class="content">
        <div class="content-container">
            <p>Made by team Tintin</p>
        </div>
    </div>
</body>

</html>
