<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Highbrow</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel=icon type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='line-awesome.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='line-awesome-font-awesome.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header-data">
                    <div class="logo">
                        <a href="/" title=""><img src="{{ url_for('static', filename='images/logo.png') }}" alt="highbrow"></a>
                    </div><!--logo end-->
                    <div class="search-bar">
                        <form>
                            <input type="text" name="search" placeholder="Search...">
                            <button type="submit"><i class="la la-search"></i></button>
                        </form>
                    </div><!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="/" title="Home">
                                    <span><img src="{{ url_for('static', filename='images/icon1.png') }}" alt=""></span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Notification" class="notification-box-open">
                                    <span><img src="{{ url_for('static', filename='images/icon7.png') }}" alt=""></span>
                                    Notification
                                </a>
                                <div class="notification-box">
                                    <div class="notification-title">
                                        <a href="#" title="">Clear all</a>
                                    </div>
                                    <div class="notification-list">
                                        {% for notification in notifications %}
                                            <div class="notfication-details">
                                                <div class="notification-user-image">
                                                    <img src="{{ url_for('static', filename='profile_pictures/' + notification["notifying_user_profile_pic"]) }}" alt="">
                                                </div>
                                                <div class="notification-info">
                                                    {% if notification["type"] == "POST" %}
                                                        <h3><a href={{ url_for('posts.post', post_id=notification["link"]) }} title="">{{ notification["content"] }}</a></h3>
                                                    {% else %}
                                                        <h3><a href={{ url_for('users.user', username=notification["link"]) }} title="">{{ notification["content"] }}</a></h3>
                                                    {% endif %}
                                                    <span>{{ notification["time"] }} min ago</span>
                                                </div><!--notification-info -->
                                            </div>
                                        {% endfor %}
                                        <div class="view-all-notifications">
                                            <a href="#" title="">View All Notifications</a>
                                        </div>
                                    </div><!--notification-list end-->
                                </div><!--notification-box end-->
                            </li>
                        </ul>
                    </nav><!--nav end-->
                    <div class="user-menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div><!--user-menu-btn end-->
                    <div class="user-account">
                        <div class="user-info">
                            <img src={{ profile_picture }} alt="">
                        </div>
                        <div class="user-account-settings">
                            <ul class="user-links">
                                <li><a href={{ url_for('users.user', username=current_user) }} title="">Profile</a></li>
                                <li><a href={{ url_for('users.saved_posts', username=current_user) }} title="">Saved Posts</a></li>
                                <li><a href={{ url_for('users.user_settings', username=current_user) }} title="">Account Setting</a></li>
                                <li><a href="/about" title="">About</a></li>
                                <li><a href="/contact" title="">Contact Us</a></li>
                            </ul>
                            <h3 class="user-logout"><a href="/logout" title="">Logout</a></h3>
                        </div><!--user-account-settings end-->
                    </div>
                </div><!--header-data end-->
            </div>
        </header><!--header end-->
        <div class="post-popup-edit new-post active">
            <div class="new-post-box">
                <div class="new-post-fields">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- <input type="text" name="title" placeholder="Title"> -->
                                {{ form.title(placeholder="Title") }}
                            </div>
                            <div class="col-lg-12">
                                <!-- <input type="text" name="topic" placeholder="Topic"> -->
                                {{ form.topic.label(class_="new-post-fields form label") }}
                                {{ form.topic(placeholder="Put a comma in between each topic.") }}
                            </div>
                            <div class="col-lg-12">
                                <!-- <textarea name="share" placeholder="Share your experience"></textarea> -->
                                {{ form.content(placeholder="Share your experience...") }}
                            </div>
                            <div class="col-lg-12">
                                {{ form.picture.label(class_="new-post-fields form label") }}
                                {{ form.picture(class="form-control-file pt-2", placeholder="Upload a picture") }}
                            </div>
                            <div class="col-lg-12">
                                <ul>
                                    <li><button class="active" type="submit" value="post">Update</button></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div><!--new-post-fields end-->
            </div><!--new-post-box end-->
        </div><!--post-popup-edit end-->


    </div><!--theme-layout end-->


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
