
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Highbrow</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel=icon type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='line-awesome.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='line-awesome-font-awesome.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header-data">
                    <div class="logo">
                        <a href="/" title=""><img src="{{ url_for('static', filename='images/logo.png') }}" alt="highbrow"></a>
                    </div><!--logo end-->
                    <div class="search-bar">
                        <form>
                            <input type="text" name="search" placeholder="Search...">
                            <button type="submit"><i class="la la-search"></i></button>
                        </form>
                    </div><!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="/" title="Home">
                                    <span><img src="{{ url_for('static', filename='images/icon1.png') }}" alt=""></span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Notification" class="notification-box-open">
                                    <span><img src="{{ url_for('static', filename='images/icon7.png') }}" alt=""></span>
                                    Notification
                                </a>
                                <div class="notification-box">
                                    <div class="notification-title">
                                        <a href="#" title="">Clear all</a>
                                    </div>
                                    <div class="notification-list">
                                        {% for notification in notifications %}
                                            <div class="notfication-details">
                                                <div class="notification-user-image">
                                                    <img src="{{ url_for('static', filename='images/photo-icon.png') }}" alt="">
                                                </div>
                                                <div class="notification-info">
                                                    {% if notification["type"] == "POST" %}
                                                        <h3><a href={{ url_for('posts.post', post_id=notification["link"]) }} title="">{{ notification["content"] }}</a></h3>
                                                    {% else %}
                                                        <h3><a href={{ url_for('users.user', username=notification["link"]) }} title="">{{ notification["content"] }}</a></h3>
                                                    {% endif %}
                                                    <span>{{ notification["time"] }} min ago</span>
                                                </div><!--notification-info -->
                                            </div>
                                        {% endfor %}
                                        <div class="view-all-notifications">
                                            <a href="#" title="">View All Notifications</a>
                                        </div>
                                    </div><!--notification-list end-->
                                </div><!--notification-box end-->
                            </li>
                        </ul>
                    </nav><!--nav end-->
                    <div class="user-menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div><!--user-menu-btn end-->
                    <div class="user-account">
                        <div class="user-info">
                            <img src="http://via.placeholder.com/30x30" alt="">
                            <a href="#" title="">{{ current_user }}</a>
                        </div>
                        <div class="user-account-settings">
                            <ul class="user-links">
                                <li><a href={{ url_for('users.user', username=current_user) }} title="">Profile</a></li>
                                <li><a href={{ url_for('users.user', username=current_user) }} title="">Saved Posts</a></li>
                                <li><a href="#" title="">Account Setting</a></li>
                                <li><a href="/about" title="">About</a></li>
                                <li><a href="/contact" title="">Contact Us</a></li>
                            </ul>
                            <h3 class="user-logout"><a href="/logout" title="">Logout</a></h3>
                        </div><!--user-account-settings end-->
                    </div>
                </div><!--header-data end-->
            </div>
        </header><!--header end-->

        <section class="single-post-page">
            <div class="container">
                <div class="single-post-sec">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-post-view">
                                <div class="single-post">
                                    <div class="post-user-image">
                                        <img src="http://via.placeholder.com/60x60" alt="">
                                    </div>
                                    <div class="single-post-content">
                                        <h3><a href={{ url_for('users.user', username=post_details["user_profile_link"]) }}> {{ post_details["username"] }} </a></h3>
                                        <span><img src="{{ url_for('static', filename='images/clock.png') }}" alt="">{{ post_details["time"] }} min ago</span>
                                        <ul class="react-links">
                                            <li>
                                                <a href="#"><i class="la la-heart"></i>Like</a>
                                                <span>{{ post_details["likes"] }}</span>
                                            </li>
                                        </ul>
                                        <h3>{{ post_details["title"] }}</h3>
                                        <ul class="topic-tags">
                                            {% for tag in post_details["tags"] %}
                                                <li><a href={{ url_for('topics.topic', topic_name=tag["link"]) }} title={{ tag["name"] }}>{{ tag["name"] }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        <p>{{ post_details["content"] }}</p>
                                        <div class="comment-section">
                                            <h3>{{ number_of_comments }} Comments</h3>
                                            <div class="comments">
                                                <ul>
                                                    {% for comment in comments %}
                                                        <li>
                                                            <div class="comment-list">
                                                                <div class="bg-img">
                                                                    <img src="http://via.placeholder.com/40x40" alt="">
                                                                </div>
                                                                <div class="comment">
                                                                    <a href={{ url_for('users.user', username=comment["user_profile_link"]) }}><h3>{{ comment["username"] }}</h3></a>
                                                                    <span><img src="{{ url_for('static', filename='images/clock.png') }}" alt=""><small>{{ comment["time"] }} min ago</small></span>
                                                                    <p>{{ comment["comment"] }}</p>
                                                                </div>
                                                            </div><!--comment-list end-->
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div><!--comments end-->
                                        </div>
                                    </div><!--single-post-content end-->
                                </div><!--single-post end-->
                            </div><!--single-post-view end-->
                            <div class="post-comment-box">
                                <div class="user-poster">
                                    <div class="comment-user-image">
                                        <img src="http://via.placeholder.com/40x40" alt="">
                                    </div>
                                    <div class="post_comment_sec">
                                        <form method="POST" action="">
                                            {{ comment_form.hidden_tag() }}
                                            {{ comment_form.comment(Placeholder="Your Comment") }}
                                            <button type="submit">Post Comment</button>
                                        </form>
                                    </div><!--post_comment_sec end-->
                                </div><!--user-poster end-->
                            </div><!--post-comment-box end-->
                        </div>

                    </div>
                </div><!--single-post-sec end-->
            </div>
        </section><!--single-post-page end-->


    </div><!--theme-layout end-->



<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>
</html>
